body {
    text-align: center;
    margin-left: 455px;
    margin-right: 450px;
    background-color: #f1f1f1;
    

}

#b {
    border-color: black;
    background-color: #8B7355;
}

div {
    background-color: #CDAA7D;
}